@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato:200,400,500,600,700');

body{
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Arbutus Slab', serif; */
    overflow-x: hidden;
    /* background: url(../image/ecailles.png) repeat; */
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    font-family: 'Open Sans', sans-serif;

}

/* custom bootstrap */
.nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
    font-weight: 600;
}
.nav-link:hover{
    color: #fff !important;
}

#cover{
    background: url(../image/1.svg) no-repeat center;
    background-size: cover;
}

.btn-green{
    background: #00f261;
    
}

.bg-green{
    background-color: rgba(186, 242, 187, 0.1);
}

.homesec-sub{
    margin-top: 3em;
    /* margin-top: 37vh; */
}

.header-booking > input{
    height: 3.5em;
    width: 15em !important;
    border-radius: 0px;
    padding-left: 1.5rem;
    font-size: 16px;
    color: #555555;
    border: 0px 0px 
}

.header-booking > button{
    height: 3.5em;
    width: 15em !important;
    font-size: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.header-booking > input:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cover-head{
    margin-top: 3em;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 30px;
}

.cover-head-sub{
    font-size: 1em;
    color: #333333;
    
}

.book-toolkit{
    background-color: rgba(0, 0, 0, 0.40) !important;
}

section > .border-bar{
    margin: auto;
    width: 6em;
    background-color: #a5a5a5;
    height: 1px;
}

.features p{
    /* text-align: left; */
    padding: 0px 35px;
}

#about{
    background: url(../image/2-1.svg) no-repeat;
    background-size: contain;
}

#about p{
    font-size: 110%;
    line-height: 180%;
    font-family: 'Lato', sans-serif;
}

.gallery-container{
    margin-left: 30%;
    color: #fff;
}

.custom-card{
    height: 10em;
    text-align: center;
    border: 0px;
    
}

.cardimg{
    height: inherit;
    border-radius: inherit;
}

.cardimg-1{ background: url('../image/rooms/DBLAC1.jpg') no-repeat center; background-size: cover; }
.cardimg-2{ background: url('../image/rooms/DBLAC2.jpg') no-repeat center; background-size: cover; }
.cardimg-3{ background: url('../image/rooms/DBLAC3.jpg') no-repeat center; background-size: cover; }
.cardimg-4{ background: url('../image/rooms/DBLAC4.jpg') no-repeat center; background-size: cover; }
.cardimg-5{ background: url('../image/rooms/DBLAC5.jpg') no-repeat center; background-size: cover; }
.cardimg-6{ background: url('../image/rooms/DBLAC6.jpg') no-repeat center; background-size: cover; }

.price-card{
    /* border: 2px solid #66A6FF; */
    border: 1px;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    transition: box-shadow 0.25s ease;
}

.price-card:hover{
    box-shadow:5px 12px 20px rgba(36,37,38,0.13)
}

.price-card .card-body p{
    color: #005BEA;
    font-size: 3em;
    margin-bottom: 0px;
}

.price-card .card-body ul li{
    list-style: none;
    padding: 5px 0px;
}

.old-price{
    font-size: 20px;
}

.duration{
    font-size: 14px;
    font-weight: 200;
}

#booking .body{
    margin-top: 4em;
}

#booking .body p{
    font-family: 'Montserrat', sans-serif;
}

#booking .body p:nth-child(1){
    font-size: 2em;
}

#booking .body p:nth-child(2){
    font-size: 1em;
}

#booking .body .body2{
    margin-left: 2em;
}

#booking .body .body2 p:nth-child(1){
    font-size: 1.5em;
    line-height: 5px;
    margin: 2em 0em 0em 0em;
    text-decoration: underline;
    line-break: normal;
}

#booking .body .body2 p:nth-child(2){
    font-size: 1.4em;
    margin: 15px 0px;
    padding: 0px;
}

.vertical-middle{
    vertical-align: middle;
}

footer{
    background: #f8f8f8;
}

.address-body p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: 5em;
    text-decoration: underline;
    font-weight: 700;
}