@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');

body{
    /* font-family: 'Merriweather', serif; */
    font-family: 'Arbutus Slab', serif;
    overflow-x: hidden;
}

.navbar{
    font-family: 'Open Sans', sans-serif;
}

/* custom bootstrap */
.nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
    font-weight: 600;
}
.nav-link:hover{
    color: #fff !important;
}

#cover{
    height: 100vh;
}

svg{
    position: absolute;
}

.bg-green{
    background-color: rgba(186, 242, 187, 0.8);
}

.homesec-sub{
    position: absolute;
    margin-top: 37vh;
}

.booktool{
    height: 3.5em;
    width: 80% !important;
    background: #ddd;
    border-radius: 3.5em;;
}

.cover-head{
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.cover-head-sub{
    font-size: 2em;
    color: #6e6e6e;
}

.book-toolkit{
    background-color: rgba(0, 0, 0, 0.40) !important;
}

.cover-head-2{
    font-family: 'Catamaran', sans-serif;
    font-size: 6em;
    color: #fff;
    position: absolute;
}

.cover-footer{
    height: 3em;
    width: 100%;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: #222;
    margin-top: 84.5vh;
    vertical-align: bottom;
}



