@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body{
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Arbutus Slab', serif; */
    overflow-x: hidden;
    background: url(../image/ecailles.png) repeat;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

/* custom bootstrap */
.navbar{
    font-family: 'Lato', sans-serif;
}

.nav-link{
    font-family: 'Lato', sans-serif;
    font-size: .85rem;
    font-weight: 600;
}
.nav-link:hover{
    color: #fff !important;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
}

#cover{
    background: url(../image/1.svg) no-repeat center;
    background-size: cover;
}

.btn-yellow{
    background: #f2e200;
}

.btn-yellow:hover{
    background: #ebdb00;
}

.bg-green{
    background-color: rgba(186, 242, 187, 0.1);
}

.top-contact-box , .top-contact-box a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.top-contact-box span{
    display: block;
}

.top-contact-box small{
    margin: 0px;
    padding: 0px;
    
}

.top-contact-box span:first-child{
    text-decoration: underline;
    font-weight: bold;
    line-height: 5px;
}

.top-contact-box span:not(:first-child){
    letter-spacing: 2px;
}

.top-contact-box span:nth-child(2){
    margin-top: 5px;
}

.top-contact-box span:last-child{
    margin-top: 20px;
    font-style: italic;
}

.header-booking > input{
    height: 3.5em;
    width: 15em !important;
    border-radius: 0px;
    border: 0px;
    padding-left: 1.5rem;
    font-size: 16px;
    color: #555555;
    border: 0px 0px 
}

.header-booking > button{
    height: 3.5em;
    width: 15em !important;
    font-size: 16px;
    border-radius: 0px;
}

.cover-head{
    margin-top: 2.5em;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.cover-head-sub{
    font-size: 1em;
    color: #333333;
}

.cover-head-white{
    color: #fff;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 10px;
}

.cover-head-sub-white{
    font-size: .8em;
    letter-spacing: 2px;
    color: #333333;
}

.book-toolkit{
    background-color: rgba(0, 0, 0, 0.40) !important;
}

.features p{
    padding: 0px 35px;
}

#about{
    background: url(../image/2-1.svg) no-repeat;
    background-size: contain;
    background-color: #fcfcfc;
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {  
    #about{
        background: unset;    
    }
}

#about p{
    font-size: 110%;
    line-height: 180%;
    font-family: 'Lato', sans-serif;
}

.gallery-container{
    color: #fff;
}

.custom-card{
    height: 10em;
    text-align: center;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
}

.cardimg-1{ background: url('../image/rooms/DBLAC1.jpeg') no-repeat center; background-size: cover; transition: all .5s; }
.cardimg-2{ background: url('../image/rooms/DBLAC2.jpg') no-repeat center; background-size: cover; transition: all .5s; }
.cardimg-3{ background: url('../image/rooms/DBLAC3.jpg') no-repeat center; background-size: cover; transition: all .5s; }
.cardimg-4{ background: url('../image/rooms/DBLAC4.jpg') no-repeat center; background-size: cover; transition: all .5s; }
.cardimg-5{ background: url('../image/rooms/DBLAC5.jpg') no-repeat center; background-size: cover; transition: all .5s; }
.cardimg-6{ background: url('../image/rooms/DBLAC6.jpg') no-repeat center; background-size: cover; transition: all .5s; }

.cardimg-1:hover, .cardimg-2:hover, .cardimg-3:hover, .cardimg-4:hover, .cardimg-5:hover, .cardimg-6:hover{ 
    transform: scale(1.2);
}

.price-card{
    border: 1px;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    transition: box-shadow 0.25s ease;
}

.price-card:hover{
    box-shadow:5px 12px 20px rgba(36,37,38,0.13)
}

.price-card .card-img-top{
    /* background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%); */
    background: #005BEA;
    height: 5em;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: #fff;
}

.price-card .card-body p{
    color: #005BEA;
    font-size: 3em;
    margin-bottom: 0px;
}

.price-card .card-body ul li{
    list-style: none;
    padding: 5px 0px;
}

.price-card .card-body ul li i, .price-card .card-body ul li span{
    display: inline-block;
    word-wrap: break-word;
}

.price-card .card-body ul li i{
    width: auto;
    vertical-align: top;
    padding-top: 5px;
}

.price-card .card-body ul li span{
    width: 70%;
}

.offer-price{
    width: 100%;
    color: #222;
    text-align: left;
}

.old-price{
    font-size: 20px;
}

.duration{
    font-size: 14px;
    font-weight: 200;
}

#booking .body{
    margin-top: 4em;
}

#booking .body p{
    font-family: 'Montserrat', sans-serif;
}

#booking .body p:nth-child(1){
    font-size: 2em;
}

#booking .body p:nth-child(2){
    font-size: 1em;
}

/* #booking .body .body2{
    margin-left: 2em;
} */

#booking .body .body2 p:nth-child(1){
    font-size: 1.3em;
    line-height: 5px;
    margin: 2em 0em 0em 0em;
    text-decoration: underline;
    line-break: normal;
}

#booking .body .body2 p:nth-child(2){
    font-size: 1.4em;
    margin: 15px 0px;
    padding: 0px;
}

.vertical-middle{
    vertical-align: middle;
}

.whatsapp{
    background: url('../image/whatsapp.png') no-repeat center;
    background-size: cover;
    right: 0;
    margin: 0;
    padding: 0;
    transform: translateX(150px);
}

footer{
    background: #fcfcfc;
}

.address-body > p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: 5em;
    text-decoration: underline;
    font-weight: 700;
}

.contact-body > p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: 5em;
    text-decoration: underline;
    font-weight: 700;
}

.contact-body > p:nth-child(2), .contact-body > p:nth-child(3), .contact-body > p:nth-child(4){
    line-height: 10px;
}

.contact-body > p:nth-child(2) a, .contact-body > p:nth-child(3) a, .contact-body > p:nth-child(4) a{
    color: #333333;
    text-decoration: none;
}

.site-information p{
    margin-bottom: 0px;
}

.site-information, .site-information a{
    height: auto;
    font-size: 12px;
    color: #fff;
    background: #222;
    text-decoration: none;
}