@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Arbutus Slab', serif; */
    overflow-x: hidden;
    background: url(../image/ecailles.png) repeat;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    font-family: 'Open Sans', sans-serif;

}

/* custom bootstrap */
.nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
    font-weight: 600;
}
.nav-link:hover{
    color: #fff !important;
}

#cover{
    background: url(../image/1.svg) no-repeat;
    background-size: cover;
    /* padding-bottom: 100px; */
}

section{
    height: 100vh;
    width: 100%;
    position: relative;
}

/* svg{
    position: static;
} */

.bg-green{
    background-color: rgba(186, 242, 187, 0.8);
}

.homesec-sub{
    position: absolute;
    top: 7em;
    /* margin-top: 37vh; */
}

.header-booking > input{
    height: 3.5em;
    width: 15em !important;
    border-radius: 0px;
    padding-left: 1.5rem;
    font-size: 16px;
    color: #555555;
}

.header-booking > button{
    height: 3.5em;
    width: 15em !important;
    font-size: 16px;
}

.cover-head{
    margin-top: 2.7em;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 30px;
}

.cover-head-sub{
    font-size: 1em;
    color: #333333;
    
}

.book-toolkit{
    background-color: rgba(0, 0, 0, 0.40) !important;
}

section > .border-bar{
    margin: auto;
    width: 6em;
    background-color: #a5a5a5;
    height: 1px;
}

.features p{
    /* text-align: left; */
    padding: 0px 35px;
}

#about{
    background: url(../image/2-1.svg) no-repeat;
    background-size: contain;
}

#about p{
    font-size: 110%;
    line-height: 180%;
    font-family: 'Lato', sans-serif;
}

.gallery-container{
    margin-left: 30%;
}

.card{
    height: 10em;
    text-align: center;
    color: #fff;
    border: 0px;
    
}

.cardimg{
    height: inherit;
    border-radius: inherit;
}

.card{
    background: rgba(0, 0, 0, 0.40);
}

.cardimg-1{ background: url('../image/rooms/DBLAC1.jpg') no-repeat center; background-size: cover; }
.cardimg-2{ background: url('../image/rooms/DBLAC2.jpg') no-repeat center; background-size: cover; }
.cardimg-3{ background: url('../image/rooms/DBLAC3.jpg') no-repeat center; background-size: cover; }
.cardimg-4{ background: url('../image/rooms/DBLAC4.jpg') no-repeat center; background-size: cover; }
.cardimg-5{ background: url('../image/rooms/DBLAC5.jpg') no-repeat center; background-size: cover; }
.cardimg-6{ background: url('../image/rooms/DBLAC6.jpg') no-repeat center; background-size: cover; }